.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2faee;
    margin-bottom: 80px;
    font-size: 18px;

}
.registro.container-fluid.fixed-bottom{
    background-color: #4CAF50;
    height: 60px;
}
.tienes-cuenta{
    margin-top: 15px;
    color: white;
    font-size: 20px;
}