#input-productos{
  width:1030px;
  height: 300px;  
  
}

.dropdown-menu{
    display: none;}


.dropdown:hover .dropdown-menu {
        display: block;
    }

.dropdown-menu a:hover{
    background-color: grey;
    color: white;
  }
 .dropdown{
     width:100px;
 }
  .btn.btn-primary.dropdown-toggle{
    background-color: #4CAF50;
    width: 100px;
    border: 0px;
    padding: 10px;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
        
}


.info{
    font-size: 20px;
}

#titulo{
    font-size: 40px;
}
#ingresar-produ{
    margin-top: 20px;
    background-color: #4CAF50;
    padding:10px;
    font-size: 18px;;
    font-family: Arial, Helvetica, sans-serif;

}
#ingresar-produ:hover{
    background-color: grey;
}